#include "resource.h"

DLG_MAIN DIALOGEX 6, 5, 194, 106

CAPTION "Escrity"

FONT 8, "Tahoma"

STYLE 0x10CE0804

BEGIN
  CONTROL "Escrity.new.project.in(.c):" , IDC_EDIT_INPUT , "Edit" , 0x10010000 , 40 , 5 , 125 , 15
  CONTROL "&Ejecutar", IDC_BTN_TEST, "Button", 0x10010000, 50,  30, 46, 15
  CONTROL "&Salir", IDC_BTN_QUIT, "Button", 0x10010000, 117, 30, 46, 15
END
